@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

#starID-0,
#starID-1,
#starID-2,
#starID-3,
#starID-4 {
  display: none;
}

.stars{
  cursor: pointer;
  transition: color 200ms;
}

.card {
  width: 200px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with 80% opacity */
  color: white; /* Text color */
  overflow: hidden; /* Ensure content does not overflow */
}

.card-img-top {
  object-fit: cover; /* Ensure the image covers the entire space */
  height: 50%; /* Adjust the height of the image */
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}

.btn {
  margin-top: 10px;
}
