@import 'bootstrap/dist/css/bootstrap.css';
@import '~@fortawesome/fontawesome-free/css/all.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

#starID-0,
#starID-1,
#starID-2,
#starID-3,
#starID-4 {
  display: none;
}

.stars{
  cursor: pointer;
  transition: color 200ms;
}

.card {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with 80% opacity */
  color: white; /* Text color */
  overflow: hidden; /* Ensure content does not overflow */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  object-fit: contain; /* Fit the image inside the card without stretching */
  height: 150px; /* Adjust the height of the image */
  border-top-left-radius: 10px; /* Round the top left corner */
  border-top-right-radius: 10px; /* Round the top right corner */
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 16px;
  margin-bottom: 5px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.bold {
  font-weight: bold;
}

.btn {
  align-self: flex-end; /* Align buttons to the bottom of the card */
}

.youtube-button {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-color:#333;
}

.youtube-button:hover {
  background-color: #333;
  border-color: #333;
}

/* Existing styles */

.action-button {
  margin-top: 10px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.action-button:hover {
  opacity: 0.8;
}

/* Styles for specific buttons */
.action-button.info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.action-button.info:hover {
  background-color: #117a8b;
  border-color: #117a8b;
}

.action-button.warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
}

.action-button.warning:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}

.action-button.danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

.action-button.danger:hover {
  background-color: #c82333;
  border-color: #c82333;
}
